extends ../layout.jade

block content
  div(ng-controller='TemplateNewCtrl')
    .page-header.text-center
      h2 New Template
    div.animate-show(ng-show='state.reset')
      .text-center
        h4 Step 1: choose an action
      .row
        .col-md-4.col-md-offset-4
          .form-group
              button.btn.btn-lg.btn-block.btn-primary(
                ng-click='setState("new")') New
          .form-group
            button.btn.btn-lg.btn-block.btn-primary(
              ng-click='setState("clone")') Clone
    div.animate-show(ng-show='state.new')
      .page-header.text-center
        small() Step 2: add test tasks

    div.animate-show(ng-show='state.clone')
      .text-center
        h4 Step 2: Filter existing templates
      form(name='filter')
        .row.text-center
          // Project Filter
          h4 Project: @todo {{model.project}}
          .btn-group()
              button.btn.btn-lg.btn-danger(
                ng-repeat='project in projects'
                ng-model='model.project'
                ng-change='setFilter({"project":project})'
                btn-radio='project'
                name='project.name') {{project.name}}
          .text-center(ng-show='filter.$dirty')
          // Platform Filter
          h4 Platform @todo {{model.platform}}:
          .btn-group()
            button.btn.btn-lg.btn-warning(
              ng-repeat='platform in model.project.platforms'
              ng-model='model.platform'
              ng-change='setFilter({platform:platform})'
              btn-radio='platform'
              name='platform.name') {{platform.name}}
          // Results
          h4 Results

        // After selection, redirect to :id/template-edit
append scripts
  script(src='/js/modules/template-new.js')