extends ../layout.jade

block content
  div.container(ng-controller='TemplateNewCtrl')
    .page-header.text-center
      h2 New Template
    div.animate-show(ng-show='state.reset')
      .text-center
        h3 Step 1
          h4 Choose an action:
      .row
        .col-md-4.col-md-offset-4
          .form-group
              button.btn.btn-block.btn-primary(
                ng-click='setState("new")') Spankin' New
          .form-group
            button.btn.btn-block.btn-primary(
              ng-click='setState("clone")') Clone Existing
    // Begin state.new
    div.animate-show(ng-show='state.new')
      .col-md-4.col-md-offset-4
        form.form-horizontal.form(name='new' role='form' novalidate)
          .form-group
            label(for='new.name') Name: 
            input.form-control(
              type='text' id='new.name' ng-model='new.name' placeholder='Enter a template name...')
          .form-group
            label(for='new.description') Description: 
            input.form-control(id='new.description' type='text' ng-model='new.description')
          .form-group
            label(for='new.project') Project: 
            select.form-control(
              id='new.project'
              ng-model='new.project'
              ng-options='project as project.name for project in projects') {{new.project.value}}
          .form-group
            label(for='new.platform') Add Platforms: 
            .btn-group()
              button.btn.btn-warning(
                ng-repeat='platform in platforms'
                ng-change='newPlatformById(platform)'
                ng-model='new.platforms[platform.id]'
                btn-checkbox) {{platform.name}}
              button.btn.btn-warning(
                ng-change='newPlatformAll()'
                btn-checkbox
                ng-model='new.platforms.all') All

    // End state.new

    // Begin state.clone
    div.animate-show(ng-show='state.clone')
      .text-center
        h3 Filter by: 
      form.text-center(name='filter')
        .form-group 
          ng-form.btn-group(name='filter-project')
            button.btn.btn-danger(
              ng-class="{active: filter-project.$pristine}"
              ng-change='setFilter({"project":projects, "platforms": model.platforms})'
              ng-model='model.project'
              btn-radio='projects') All
            button.btn.btn-danger(
              ng-repeat='project in projects'
              ng-model='model.project'
              ng-change='setFilter({"project":project, "platforms": model.platforms})'
              btn-radio='project'
              name='project.name') {{project.name}}
        // Platform Filter
        ng-form.btn-group(name='filter-platform')
          button.btn.btn-warning(
            ng-class="{active: filter-platform.$pristine}"
            ng-change='setFilter({"platforms": platforms, "project": model.project})'
            ng-model='model.platforms'
            btn-radio='platforms') All
          button.btn.btn-warning(
            ng-repeat='platform in platforms'
            ng-model='model.platforms'
            ng-change='setFilter({"platforms":platform, "project": model.project})'
            btn-radio='platform'
            ) {{platform.name}}

    // Results
    h3.text-center(ng-show='state.clone') Results
    .well.row(
      ng-show='state.clone'
      ng-repeat='template in model.results')
      .col-md-8.col-xs-12
        h4
          strong{{template.name}}
        h4 {{template.description}}
        button.btn.btn-primary(
          ng-click='clone(template)') Clone
      .col-md-4
        h4
          span.label.label-danger{{template.project.name}}
        h4
          span.label.label-warning(ng-repeat='platform in template.platforms') {{platform.name}}
    
    // End state.clone       
append scripts
  script(src='/js/modules/template-new.js')